mysql/data
hadoop/2.6.0/hadoop-2.6.4.tar.gz 
hadoop/2.6.0/hadoop-native-64-2.6.0.tar 
spark/spark-1.6.2-bin-hadoop2.6.tgz 
java8centos/jdk-8u73-linux-x64.tar.gz 
hive/apache-hive-1.2.1-bin.tar.gz 
hive/mysql-connector-java-5.1.39-bin.jar 
python/python-django-cd-sample/db
java8tomcat8/logs
java8tomcat8/webapps
java8tomcat8/apache-tomcat-8.0.30.tar.gz 
hive/db
openresty/1.11.2/db
spark/log
spark/log2
centos/java8/jdk-8u73-linux-x64.tar.gz
mysql/alisql/*.log
mysql/alisql/mysql5.7
mysql/alisql/mysql
mysql/5.7/mysql5.7
python3base/opencv/3.2.0.zip
