#! /bin/bash

# --cpus=4 \
# -m 12G --memory-swap 16G \

docker run -d \
	-p 4000:80 \
	--privileged=true \
	--name gitlab \
	-v $(pwd)/config:/etc/gitlab \
	-v $(pwd)/logs:/var/log/gitlab \
	-v $(pwd)/data:/var/opt/gitlab \
        --cpus=4 \
	twang2218/gitlab-ce-zh:10.5.1
